table(cellspacing=0 cellpadding=5 width="100%" style="font-size:11px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;")
  - var cellStyle1 = "background-color: #f3f3f3;";
  - var cellStyle2 = "background-color: #f8f8f8;";
  - var linkStyle = "text-decoration: none; color: #666;";
  - var spanStyle = "color: #999;";

  tbody
    each award, i in awards
      tr
        td(style=i % 2 == 0 ? cellStyle1 : cellStyle2)
          a(href=award.href style=linkStyle target="_blank")
            strong #{award.year} #{award.position}
            | &nbsp;
            = award.app
            | &nbsp;
            span(style=spanStyle)= award.award
            | &nbsp;
            strong(style=spanStyle)= award.competition
