- var font = "font-family:\"Helvetica Neue\",Helvetica,Arial,sans-serif"
- var bodyCopy = "color: #000; font-size: 11px; margin: 0 0 2px;";
- var bodyCopyH1 = "color: #000; font-size: 15px; margin: 0 0 2px;";
- var bodyCopyH2 = "color: #000; font-size: 13px; margin: 0 0 2px;";
- var linkStyle = "text-decoration: none; color: #333;";

!!! 5
html
  body
    div(style="color: #444; #{font}; max-width: 450px; background: #fff; -webkit-text-size-adjust: none;")
      table(cellspacing=0, cellpadding=0, style="padding: 4px 0; width: 450px; font-size: 11px; #{font}")
        tbody
          tr
            td(style="width: 160px;")
              a(href="http://www.creativelicencedigital.com/")
                img(src="http://www.creativelicencedigital.com/images/signature/cld_150x90.png", alt="Creative Licence Digital", style="width: 150px; height: 90px; border: 0;")
            td
              div(style=bodyCopyH1)
                | #{locals.firstname} #{locals.lastname}

              if locals.role
                div(style=bodyCopyH2)= locals.role

              if locals.email
                div(style=bodyCopy)
                  a(style=linkStyle, href="mailto:#{locals.email}")= locals.email

              div(style=bodyCopy)
                a(style=linkStyle, href="http://www.creativelicencedigital.com/") creativelicencedigital.com

              if locals.mobile
                div(style=bodyCopy)
                  telephone(style=linkStyle)= locals.mobile

              div(style=bodyCopy)
                a(style=linkStyle,
                  href="http://twitter.com/Cre8iveLicence") @Cre8iveLicence

          tr
            td(colspan=2)
              table(cellspacing=0, cellpadding=0, width="100%", style="margin-top: 8px; border-top: 1px solid #ccc;")
                tr
                  td(width="160px")
                    div(style="font-weight: bold; color: #000; font-size: 12px; margin: 8px 0 2px;") Sydney Office
                    div(style=bodyCopy) Level 1, Park Lane Arcade
                    div(style=bodyCopy) 13 The Corso
                    div(style=bodyCopy) Manly NSW 2095
                    div(style=bodyCopy): telephone (02) 9977 2228

                  td
                    div(style="font-weight: bold; color: #000; font-size: 12px; margin: 8px 0 2px;") New York Office
                    div(style=bodyCopy) Level 11
                    div(style=bodyCopy) 41 E 11th Street
                    div(style=bodyCopy) New York, NY 10003
                    div(style=bodyCopy): telephone 212 331 1100


          tr
            td#awards(colspan=2, style="padding: 6px 0;")

          tr
            td(colspan=2)
              p(style="color: #999; font-size: 9px;")
                | This message may contain confidential or legally privileged information. If you think it was sent to you by mistake, please delete all copies and advise the sender. Please consider the environment before printing this email. Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
