doctype html
html
  - var font = "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;"
  - var bodyCopy = "color: #000; font-size: 11px; margin: 0 0 2px; font-style: normal;";
  - var bodyCopyH1 = "color: #000; font-size: 15px; margin: 0 0 2px;";
  - var bodyCopyH2 = "color: #000; font-size: 13px; margin: 0 0 2px;";
  - var linkStyle = "text-decoration: none; color: #333;";

  body
    div(style=font + "color: #444; width: 450px; background: #fff;")
      style(type="text/css").
        div, p, a, li, td { 
          -webkit-text-size-adjust: none;
          line-height: 1.1em;
        }
        a[href^=tel]{
            color: inherit;
            text-decoration: none;
        }

      table(cellspacing=0 cellpadding=0 width=450 style="padding: 4px 0; font-size: 11px;")
        tbody
          tr
            td(style="width: 160px;")
              a(href="http://www.creativelicencedigital.com/")
                img(src="http://www.creativelicencedigital.com/images/signature/cld_150x90.png" alt="Creative Licence Digital" style="width: 150px; height: 90px; border: 0;")
            td
              div(style=bodyCopyH1)
                | #{contact.firstname} #{contact.lastname}

              if contact.role
                div(style=bodyCopyH2)= contact.role

              if contact.email
                div(style=bodyCopy)
                  a(style=linkStyle, href="mailto:#{contact.email}")= contact.email

              div(style=bodyCopy)
                a(style=linkStyle, href="http://www.creativelicencedigital.com/") creativelicencedigital.com

              if contact.mobile
                div(style=bodyCopy)
                  a(href="tel:#{contact.mobile}" style=linkStyle)= contact.mobile

              div(style=bodyCopy)
                a(style=linkStyle,
                  href="http://twitter.com/Cre8iveLicence") @Cre8iveLicence

          tr
            td(colspan=2)
              table(cellspacing=0 cellpadding=0 width="100%" style="margin-top: 8px; border-top: 1px solid #ccc;")
                tr
                  td(width="160px")
                    div(style="font-weight: bold; color: #000; font-size: 12px; margin: 8px 0 2px;") Sydney Office
                    div(style=bodyCopy): a(href="http://maps.google.com/?q=Level 1 Park Lane Arcade, 13 The Corso Manly NSW 2095" style=linkStyle)
                      | Level 1, Park Lane Arcade
                      br
                      | 13 The Corso
                      br
                      | Manly NSW 2095
                    a(href="tel:+61299772228" style=bodyCopy + linkStyle) (02) 9977 2228

                  td
                    div(style="font-weight: bold; color: #000; font-size: 12px; margin: 8px 0 2px;") New York Office
                    div(style=bodyCopy): a(href="http://maps.google.com/?q=Level 11, 41 E 11th Street New York, NY 10003" style=linkStyle)
                      | Level 11
                      br
                      | 41 E 11th Street
                      br
                      | New York, NY 10003
                    a(href="tel:+12123311100" style=bodyCopy + linkStyle) 212 331 1100


          tr
            td#awards(colspan=2 style="padding: 6px 0;")!= locals.awards

          tr
            td(colspan=2)
              p(style="color: #999; font-size: 9px;")
                | This message may contain confidential or legally privileged information. If you think it was sent to you by mistake, please delete all copies and advise the sender. Please consider the environment before printing this email. Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
